// base
@import './base/maps';
@import './base/extends';

// components
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: map-get($links, decoration)
}

@import './components/header';
@import './components/main';
@import './components/footer';