.my-course{
    margin-top: 200px;
}



#course .container{
    .container-text{
        padding-top: 100px;
        background-color: red !important;
    }

    img{
        width: 100%;
        padding: 0px;
    }
}

.my-bg-course{
    background-color: #fade4f !important;

    h1{
        text-align: left;
        padding: 10px;
    }

    h4{
        text-align: left;
    }
}