$background_color: #e2e2e2;

//colores utilizados
$text-color: #212529;
$primary-color: #fade4f;

// $primary_font: 'Shadows Into Light', cursive;
// $secondary_font: Verdana, Geneva, Tahoma, sans-serif;

$title_primary: 'Roboto';
$text: 'Roboto Slab';

$title-primary-mob-size: 1.8rem; 
$title-secondary-mob-size: 1.4rem;
$paragraph-mob-size: 1rem;



@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;400;600;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

$title: 'Roboto', sans-serif;
$paragraph: 'Roboto', serif;
